<div class="container">
    <div class="col">
        <div class="card" style="width:30%; height:60% ;border: none;  margin-left: 20px; float: left;">
            <img src="../assets/Group 1.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    "Turning Ideas into Digital Realities, Crafting Code with Innovation and Precision, Your Success,
                    Our
                    Commitment."
                </p>
                <a href="#" class="btn" style="background-color: #eec3f6; color: white;  font-weight: bold;
        color: #ffffff;
        text-shadow: 0 0 10px rgb(123, 122, 122);">Know More</a>
            </div>
        </div>

    </div>
    <div class="col">
        <img src="../assets/UI-UX team-amico.svg" height="60%" width="65%" alt="" srcset="">
    </div>
</div>