<nav class="navbar navbar-expand-lg bg-transparent ">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">
            <img src="../assets/NEXT.svg" alt="Logo" height="50px" style="image-resolution: inherit;">
        </a>
        <div class="me-auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    
                    <a class="nav-link projected-text" [routerLink]="Routes.Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link projected-text" [routerLink]="Routes.About">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link projected-text" [routerLink]="Routes.Services">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link projected-text" [routerLink]="Routes.Contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>