.navbar-brand {
    padding: 0.5rem 1rem;
  }
  
  .navbar-title {
    font-size: 2.5rem;
    font-weight:bolder;
  }
  
  .navbar-nav {
    background-color: #eec3f6;
  }
  
  .nav-link {
    color: #ffffff;
    padding: 0.5rem 2rem;
  }
 
  .navbar-nav{
    border-radius: 7%;
    padding-left: 249px;
    padding-right: 135px;
  }
  .collapse.navbar-collapse {
    padding-left: 2rem;
  }
  .projected-text {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(123, 122, 122);
  }
  .card {
    display: flex;
    justify-content: center;
  }
  